
#center {
    font-family: 'TimesNewRoman';
    text-align: center;
    
    }
    body {
        background-color:#6f645b;
        margin: auto;
        width: 640px; 
        padding: 50px;
        font-family: 'TimesNewRoman'; 
        color: #48769e;    
      }
